{% extends 'base.html.twig' %}

{% block body %}
	<nav class="navbar navbar-light">
		<div class="mx-auto text-center">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">sikorski.jakub02@gmail.com</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="https://www.linkedin.com/in/jakubsikorski02/">Linkedin</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="https://github.com/jakubsikorski02">GitHub</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="https://sikorskijakub.pl/">Personal Website</a>
				</li>

			</ul>
		</div>
	</nav>
{% endblock %}
