{% extends 'base.html.twig' %}

{% block title %}
	Recipes
{% endblock %}

{% block body %}

	<div class="container d-flex align-items-center justify-content-center">
		<h1>Recipes</h1>
	</div>


	<div class="container d-flex align-items-center justify-content-center">
		<a class="mb-2 mt-2 btn btn-success" href="recipes/create">
			Create your recipe!
		</a>
	</div>

	<div class="row mx-auto">
		{% for recipe in recipes %}
			<div class="col-md-6 mb-4">
				<div class="card h-100">
					<div class="card-body d-flex flex-column justify-content-between">
						<h2 class="card-title mb-2">{{ recipe.name }}</h2>
						<img src="{{ recipe.imagePath }}" alt="Recipe Image" class="img-fluid">
						<a href="recipes/{{ recipe.id }}" class="stretched-link btn btn-primary mt-2">Continue reading</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
