{% extends 'base.html.twig' %}

{% block body %}

    <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <ul class="list-unstyled ps-0">
      <li class="mb-1 my-3">
        <a href="#" class="nav-link link-dark rounded">Author profile</a>
      </li>
      <li class="mb-1 border-top my-3">
        <a href="#" class="nav-link link-dark rounded">Security</a>
      </li>
      <li class="mb-1 border-top my-3">
        <a href="#" class="nav-link link-dark rounded">Author profile</a>
      </li>

    </ul>
  </div>
{% endblock %}